.header_pic{
    width: 80%!important
}

.about_headings{
    font-size:30px;
    text-align: left;
}

.hobby{
    text-align: center;
}

@media (min-width: 1200px) {
    .about-desc{
        text-align: left;
        max-width: 1200px;
    }
    .about-txt{
        font-size: 1.2rem!important;

    }
    .about-container, .row_col{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .about_header_txt{
        color:#170F49;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        margin-bottom: 0;
        display:block;
        font-size: 45px;
        line-height: 62px;
        text-align: left;
        margin-top: 50px;
    }
    .about_header{
        overflow: hidden;
        padding-top: 10.7rem;
        padding-bottom: 2rem;
        background-color: #fff;
    }
    .resume_btn{
        margin-top:9rem
    }
}

@media (max-width: 768px){
.header .h1-large {
    font-size: 2.75rem;
    line-height: 3.625rem;
}
.about_header_txt{
    color:#170F49;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0;
    display:block;
    font-size: 45px;
    line-height: 62px;
    text-align: center;
    margin-top: 50px;
}
.about_header{
    overflow: hidden;
    padding-top: 4.7rem;
    padding-bottom: 4rem;
    background-color: #fff;
}
.about_section{
    margin-top: -3rem;
}
}



