.se-header{
    padding-top:10rem ;
    padding-bottom:4rem ;
}

.challenge,.se_section{
    padding-top: 3rem;
}

.icon_container,.testing-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questions{
    text-align: center;
}